html, body {
    height: 100vh;
    margin: 0;
}

#play-db-area {
    height: 100%;
}

#video_area {
    text-align: center;
    max-height: 650px;
}

#video_play {
    max-height: 650px;
    width: 100%;
}

#text-print-area {
    max-height: calc(100% - 650px);
    overflow-y: auto;
}

#text-print-table {
    width: 100%;
}

.tobj>tr>td {
    /* border: 1px solid; */
}

.sts {
    font-size: xxx-large;
    padding-left: 2px;
    cursor: pointer;
}

.blue-line {
    border: 1px solid blue;
    color: blue;
    font-weight: bold;
}

#chg-video-list {
    position: absolute;
    top: 5px;
    left: 5px;
}

@media(max-width: 1024px) {
    #text-print-area {
        max-height: 100%;
    }

    .sts {
        font-size: xx-large;
    }
}